.home__left,
.home__right {
  padding: calc(var(--gutter) * 4) calc(var(--gutter) * 2);
}

.home__left {
  background: #f4f3ee;
}

.home__right {
  background: #000;
}

.home__title {
  margin: 0;
  text-align: left;
  margin-bottom: calc(var(--gutter) * 2);
  line-height: 1.5;
}
