.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--gutter) * 5) 0;
}

.home__title {
  margin-top: -66px;
  font-size: 3.35rem;
  text-align: center;
  max-width: 1000px;
  margin-bottom: calc(var(--gutter) * 2);
  line-height: 1.5;
}
