.footer {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  border-top: 1px solid #f1f1f1;
}

.footer h2 {
  color: #fff;
}

.footer__copyright {
  margin-top: calc(var(--gutter) / 3);
}
