:root {
  --gutter: 24px;
  --color-primary: #06bcc1;
  --color-text: #071013;
  --color-text-secondary: rgba(0, 0, 0, 0.57);
  --radius: 8px;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper > main {
  display: flex;
  min-height: calc(100vh - 79px);
}

.container {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.container--max-width,
.container--max-width-sm {
  max-width: 1316px;
  margin: 0 auto;
}

.container--max-width-sm {
  max-width: 800px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  display: inline-flex;
  position: relative;
}

a.link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 1px;
  width: 0;
  display: block;
  background: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

a.link:hover:before {
  width: 100%;
}

.btn {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: calc(var(--gutter) / 1.5) var(--gutter);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  border: none;
}

.btn--primary {
  color: #fff;
  background: var(--color-text);
}

.btn--primary:hover {
  color: #ffffff;
  background: var(--color-primary);
  border-color: var(--color-primary);
}

section {
  padding: calc(var(--gutter) * 2) 0;
  width: 100%;
}

p,
li {
  line-height: 1.7;
  font-size: 1.3rem;
  font-weight: 300;
}

p + p {
  margin-top: var(--gutter);
}

p + h1,
p + h2 {
  margin-top: calc(var(--gutter) * 3);
}

h1,
h2,
h3 {
  line-height: 1.5;
  margin-top: 0;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

li + li {
  margin-top: calc(var(--gutter) / 2);
}

.grid-halves {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-halves > div:first-child,
.grid-halves > div:last-child {
  padding: calc(var(--gutter) * 2);
}

.grid-halves > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid-halves > div:last-child {
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: calc(var(--gutter) / 3);
    padding-right: calc(var(--gutter) / 3);
  }
}
.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

.field input,
.field textarea {
  width: 100%;
  border-radius: var(--radius);
  box-shadow: none;
  padding: calc(var(--gutter) / 1.5) var(--gutter);
  border: 1px solid var(--color-text);
}

.field input:focus,
.field textarea:focus {
  border-color: var(--color-primary);
}

.field textarea {
  resize: none;
}

.field label {
  display: block;
}

.field__label {
  margin-bottom: calc(var(--gutter) / 6);
  color: var(--color-text);
}

.field + .field {
  margin-top: var(--gutter);
}

.mt-24 {
  margin-top: var(--gutter);
}
