.nav {
  margin-right: calc(var(--gutter) * -1);
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item + .nav__item {
  margin-top: 0;
}

.nav__link {
  display: inline-block;
  padding: var(--gutter);
  letter-spacing: 1.2px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  position: relative;
}

.nav__link:before {
  content: "";
  position: absolute;
  left: var(--gutter);
  right: var(--gutter);
  bottom: calc(var(--gutter) / 1.5);
  height: 1px;
  width: 0;
  display: block;
  background: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

.nav__link:hover:before,
.nav__link--active:before {
  width: calc(100% - var(--gutter) * 2);
}

.nav__link:hover,
.nav__link--active {
  color: var(--color-primary);
}
